header {
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
}

main {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 10% auto;
    max-width: 40%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 6px gray;
}

h1,
h2,
p {
    text-align: center;
    padding: 15px 15px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}