header {
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
}

main {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 10% auto;
    max-width: 40%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 6px gray;
}

h1,
h2,
p {
    text-align: center;
    padding: 15px 15px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    margin: 20px 0;
}

div {
    margin: 20px 20px;
}

.qBox {
    display: none;
}

li {
    padding: 8px;
    background-color: purple;
    border: 2px solid purple;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
    width: 200px;
    box-shadow: 2px 2px 3px gray;
}

li:hover {
    background-color: white;
    color: purple;
    cursor: pointer;
}

.quizEnd {
    display: none;
}

.highScores {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scoreTable {
    border-spacing: 0;
    border: 2px solid black;
}

#scoreTable td,
#scoreTable th {
    padding: 10px;
    margin: 0;
    text-align: center;
}

#scoreTable td:nth-child(odd),
#scoreTable th:nth-child(odd) {
    border-right: 2px solid black;
}

#scoreTable th {
    border-bottom: 2px solid black;
}

#scoreTable tr:nth-child(even) {
    background-color: rgb(212, 165, 212);
}